<h5>Categories</h5>
<ul class="side-nav">
  <li>
    <%= link_to 'News', tag_path('News') %>
  </li>
  <li>
    <%= link_to 'Code', tag_path('Code') %>
  </li>
  <li>
    <%= link_to 'Design', tag_path('Design') %>
  </li>
  <li>
    <%= link_to 'Startups', tag_path('Startups') %>
  </li>
</ul>