<div class="panel secondary">You're likely to find me up late hacking on projects, or up early learning. Don't hesitate to get in contact if you'd like to collaborate on a project, or you're looking for a co-founder!</div>
<div class="row">
  <div class="large-4 columns">
    <a href="http://www.github.com/JamesDullaghan">
      <i class="social foundicon-github large"></i><br>
      <span>Github:</span> JamesDullaghan
    </a>
  </div>
  <div class="large-4 columns">
    <a href="http://www.twitter.com/JamesDullaghan">
      <i class="social foundicon-twitter large"></i><br>
      <span>Twitter:</span> @JamesDullaghan
    </a>
  </div>
  <div class="large-4 columns end">
    <a href="mailto:james@fldlvl.com?Subject=Hi%there">
      <i class="general foundicon-mail large"></i><br>
      <span>Email:</span> James&nbsp;[at]&nbsp;fldlvl&nbsp;[dot]&nbsp;com
    </a>
  </div>
</div>
<br>
<div class="panel">These icons don't do anything, aside from look awesome.</div>
<div class="row">
  <div class="large-4 columns">
    <a href="http://www.github.com/JamesDullaghan">
      <i class="general foundicon-paper-clip large"></i><br>
    </a>
  </div>
  <div class="large-4 columns">
    <a href="http://www.twitter.com/JamesDullaghan">
      <i class="general foundicon-smiley large"></i><br>
    </a>
  </div>
  <div class="large-4 columns end">
    <a href="mailto:james@fldlvl.com?Subject=Hi%there">
      <i class="general foundicon-idea large"></i><br>
    </a>
  </div>
</div>