<div class="panel secondary">You're likely to find me up late hacking on projects, or up early learning. Don't hesitate to get in contact if you'd like to collaborate on a project, or you're looking for a co-founder!</div>
<div class="row">
  <div class="large-4 columns">
    <a href="http://www.github.com/JamesDullaghan">
      <i class="social foundicon-github large"></i><br>
      <span class="subheader">Github:</span> JamesDullaghan
    </a>
  </div>
  <div class="large-4 columns">
    <a href="http://www.twitter.com/JamesDullaghan">
      <i class="social foundicon-twitter large"></i><br>
      <span class="subheader">Twitter:</span> @JamesDullaghan
    </a>
  </div>
  <div class="large-4 columns end">
    <a href="mailto:james@fldlvl.com?Subject=Hi%there">
      <i class="general foundicon-mail large"></i><br>
      <span class="subheader">Email:</span> James[@]fldlvl.com
    </a>
  </div>
</div>
<br>

<div class="row">

  <!-- Contact Details -->
  <div class="large-9 columns">

    <h3>Get in Touch!</h3>
    <p>I'd love to hear from you. You can reach out to me and I will get back to you. I love getting email <em>all day</em>.</p>

    <div class="section-container tabs" data-section>
      <section class="section">
        <h5 class="title"><a href="#panel1">Contact Me</a></h5>
        <div class="content" data-slug="panel1">
          <%= render 'form' %>
        </div>
      </section>
    </div>
  </div>

  <!-- End Contact Details -->
</div>