@font-face {
  font-family: 'proximanova-bold';
  src: url(font-path('bold/proximanova-bold-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('bold/proximanova-bold-webfont.woff')) format('woff'),
       url(font-path('bold/proximanova-bold-webfont.ttf'))  format('truetype'),
       url(font-path('bold/proximanova-bold-webfont.svg') + "#proximanova-bold") format('svg');
}

@font-face {
  font-family: 'proximanova-extrabold';
  src: url(font-path('extrabold/proximanova-extrabold-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('extrabold/proximanova-extrabold-webfont.woff')) format('woff'),
       url(font-path('extrabold/proximanova-extrabold-webfont.ttf'))  format('truetype'),
       url(font-path('extrabold/proximanova-extrabold-webfont.svg') + "#proximanova-extrabold") format('svg');
}

@font-face {
  font-family: 'proximanova-light';
  src: url(font-path('light/proximanova-light-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('light/proximanova-light-webfont.woff')) format('woff'),
       url(font-path('light/proximanova-light-webfont.ttf'))  format('truetype'),
       url(font-path('light/proximanova-light-webfont.svg') + "#proximanova-light") format('svg');
}

@font-face {
  font-family: 'proximanova-regular';
  src: url(font-path('regular/proximanova-regular-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('regular/proximanova-regular-webfont.woff')) format('woff'),
       url(font-path('regular/proximanova-regular-webfont.ttf'))  format('truetype'),
       url(font-path('regular/proximanova-regular-webfont.svg') + "#proximanova-regular") format('svg');
}

@font-face {
  font-family: 'proximanovacond-semibold';
  src: url(font-path('condensedsemibold/proximanovacond-semibold-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('condensedsemibold/proximanovacond-semibold-webfont.woff')) format('woff'),
       url(font-path('condensedsemibold/proximanovacond-semibold-webfont.ttf'))  format('truetype'),
       url(font-path('condensedsemibold/proximanovacond-semibold-webfont.svg') + "#proximanovacond-semibold") format('svg');
}

@font-face {
  font-family: 'proximanovacond-light';
  src: url(font-path('condensedlight/proximanovacond-light-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('condensedlight/proximanovacond-light-webfont.woff')) format('woff'),
       url(font-path('condensedlight/proximanovacond-light-webfont.ttf'))  format('truetype'),
       url(font-path('condensedlight/proximanovacond-light-webfont.svg') + "#proximanovacond-light") format('svg');
}